:root{
  --primary-color: #34425a;
  color: #2a2c31;
}

body {
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

.settings-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.center_full {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow-y: hidden;
}

.center h1 {
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-sensors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  align-items: center;
}

.main-sensors .moisture,
.main-sensors .temperature,
.main-sensors .actuation {
  border-radius: 4px;
  border: solid 1px var(--primary-color);
}

.main-sensors div {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 0.5rem;
}

.main-sensors div select {
  border: none;
  position: relative;
  width: 100%;
  outline: none;
}

.main-sensors div input,
div .soil-type {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border: solid 1px var(--primary-color) !important;
  padding: 0.8rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
}

.soil-type option {
  color: #fff;
}

.input_elements {
  display: block;
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.water-retention {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

textarea {
  padding: 0.5rem 0;
  position: relative;
  width: inherit;
  resize: none;
  border-radius: 4px;
  border: solid 1px var(--primary-color);
  outline-width: 1px;
  outline-color: var(--primary-color);
}

.action-buttons {
  display: flex;
  gap: 2rem;
  padding: 0.8rem 0;
}

.action-buttons button {
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.action-buttons .save,
.action-buttons .home,
.action-buttons .settings,
.action-buttons .training {
  background-color: #4caf50;
}
/* Highlighted button styling */
.highlight {
  background-color: #ffcc00; /* Highlight color */
  border: 5px solid #ff9900;
  box-shadow: 0px 0px 30px #ffcc00;
}

.action-buttons .button_cancel {
  background-color: gray;
}

.button-container button {
  display: inline-block;
  margin: 5px;
}

label {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px; /* Space between label text and icon */
}

.tooltiptext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease;
  white-space: normal; /* Allow wrapping */
  max-width: 200px; /* Limit width to prevent excessive size */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Adjust position when tooltip is close to the left or right edge */
.tooltiptext.edge-left {
  left: 0;
  transform: translateX(0);
}

.tooltiptext.edge-right {
  left: auto;
  right: 0;
  transform: translateX(0);
}

.tooltiptext.edge-top {
  bottom: auto;
  top: 100%;
}

/*For the overview div*/
.quick-view-container {
  display: flex;
  justify-content: space-between; /* Adjust space between containers */
  gap: 20px; /* Optional: space between the two containers */
  clear: both;
}

.sensor-container, .irrigation-container {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 100%; /* Full width within flex container */
  max-width: 45%; /* Ensure they don't exceed 45% of the total width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  box-sizing: border-box; /* Make sure padding and border are included in the width */
  margin-bottom: 20px; /* Add spacing between containers on small screens */
}

.sensor-heading, .irrigation-heading {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.sensor-value, .irrigation-value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-wrapper {
  display: flex;
  justify-content: space-between; /* Keep two containers next to each other */
  gap: 20px; /* Add some spacing between them */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.sensor-value:last-child, .irrigation-value:last-child {
  border-bottom: none;
}

.description {
  font-size: 16px;
  color: #555;
}

.value_active {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.value_inactive {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}

/* Style the container of the chart */
#chart {
  width: 70%; /* Set the chart width */
  margin: 0 auto; /* Center the chart */
  background-color: #f5f5f5; /* Set the background color */
  padding: 20px; /* Add some padding for spacing */
}

/* Style the chart title */
.apexcharts-title {
  font-size: 18px; /* Set the title font size */
  color: #333; /* Set the title text color */
}

/* Style the chart axes */
.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
  font-size: 14px; /* Set the axis label font size */
  fill: #555; /* Set the axis label color */
}

/* Style the chart data series */
.apexcharts-datalabel,
.apexcharts-datalabel-label {
  font-size: 16px; /* Set the data label font size */
  fill: #007acc; /* Set the data label color */
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sensor-container, .irrigation-container {
    max-width: 100%; /* Make them take full width on smaller screens */
    margin-bottom: 20px; /* Ensure there's space between them vertically */
  }
}

.text-content {
  flex: 1; /* Ensures the text content takes up available space */
}

.logo-content {
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-right: -25px;
  margin-top: -40px;
}

@media (max-width: 600px) {
  .logo-content {
    display: block;
    width: 40%;
    float: none;
    margin: 0 auto;
  }
}